In [1]:
# Dependencies
import pandas as pd

In [5]:
# Reading in csv files to stage as DataFrames
measurement = pd.read_csv("Resources/hawaii_measurements.csv")
station = pd.read_csv("Resources/hawaii_stations.csv")

In [6]:
# Inspect the data for NaNs and missing values.
measurement.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [25]:
# find last date recorded on the dataframe for future use on climate_analysis
sorted_measurement = measurement.sort_values(by="date", ascending=False, inplace=False)

In [26]:
sorted_measurement.head()

           station        date  prcp  tobs
19549  USC00516128  2017-08-23  0.45    76
12186  USC00519523  2017-08-23  0.08    82
2723   USC00519397  2017-08-23  0.00    81
7634   USC00514830  2017-08-23  0.00    82
12185  USC00519523  2017-08-22  0.00    82

In [19]:
station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
# checking for NaN through the DF 
measurement.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       1
27       0
28       0
29       1
        ..
19520    0
19521    0
19522    0
19523    0
19524    0
19525    0
19526    0
19527    0
19528    1
19529    0
19530    0
19531    1
19532    1
19533    0
19534    0
19535    0
19536    0
19537    1
19538    0
19539    1
19540    0
19541    0
19542    0
19543    0
19544    1
19545    0
19546    1
19547    0
19548    0
19549    0
Length: 19550, dtype: int64

In [20]:
station.isnull().sum(axis=1)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [17]:
# Replace NaN fields on measurement DF with the number 0. Station DF shows no NaNs.
measurement.fillna(0, inplace=True)

In [18]:
measurement.to_csv("clean_measurements.csv", index=False)